.SolverApp {
    display: block;
    min-height: 100vh;
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
}

.SolverApp > * + * {
    margin-top: 1rem;
}

/* autoprefixer: off */
@supports(display:grid) {
    .SolverApp {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    .SolverApp > * + * {
        margin-top: 0;
    }
}

@media(max-width: 600px) {
    .SolverApp {
        display: block;
    }

    .SolverApp > * + * {
        margin-top: 1rem;
    }
}
